$White: hsl(0, 0%, 100%);
$Light-Grey: hsl(217, 12%, 63%);
$Medium-Grey: hsla(216, 12%, 54%, 0.141);
$Dark-Blue: hsl(213, 19%, 18%);
$Very-Dark-Blue: hsl(216, 12%, 8%);
$Orange: hsl(25, 97%, 53%);

@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Overpass', Georgia, serif;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: $Very-Dark-Blue;

  h1 {
    display: none;
    visibility: hidden;
  }

  .container {
    background-color: $Dark-Blue;
    margin: 2px auto;
    padding: 1.2rem;
    width: 330px;
    height: 370px;
    border-radius: 0.9rem;

    h2 {
      color: #fff;
      margin-top: 1.5rem;
    }

    p {
      color: $Light-Grey;
      width: 310px;
      margin-top: 1.1rem;
    }

    .rating {

      background-color: $Medium-Grey;
      color: $Light-Grey;
      padding: .7rem 0.7rem;
      margin: 1.6rem .5rem;
      border-radius: 50rem;


    }

    .count:hover {
      background-color: $Orange;
      color: #fff;
      cursor: pointer;
    }


    #heading-con1 {
      margin-top: 0rem;
    }

    ul {
      display: flex;
      list-style-type: none;

      .rating {
        padding: 0.6rem 1rem;
        text-align: center;
      }

    }

    #btn-submit {
      width: 100%;
      display: block;
      background-color: $Orange;
      color: #fff;
      border: none;
      border-radius: 50rem;
      padding: .7rem 0.7rem;
      text-transform: uppercase;
      font-weight: bold;
      cursor: pointer;
    }

    #btn-submit:hover {
      background-color: #fff;
      color: $Orange;
    }
  }

  #container-2 {
    display: none;
    position: absolute;
    top: 100px;
    text-align: center;

    #container-2-ratings-count {
      background-color: $Medium-Grey;
      color: $Orange;
      display: inline-block;
      padding: 0.4rem 0;
      width: 160px;
      border-radius: 1.5rem;

    }
  }
}


.attribution {
  font-size: 11px;
  text-align: center;
  color: #fff;

  a {
    color: hsl(228, 45%, 44%);
  }
}